[Unit]
Description=EMS
After=network.target bluetooth.target

[Service]
ExecStart=/opt/stratux/bin/rb-sysmon -config /boot/firmware/rb/rb-sysmon.json -wait 10 -state ""
User=pi
KillMode=process
Restart=always
RestartSec=5
StandardOutput=null

[Install]
WantedBy=multi-user.target

