[Unit]
Description=EMS
After=network.target bluetooth.target

[Service]
ExecStart=/opt/stratux/bin/ems-rpm 4
User=pi
KillMode=process
Restart=always
RestartSec=5
StandardOutput=null

[Install]
WantedBy=multi-user.target

