[Unit]
Description=EMS GPIO
After=network.target bluetooth.target

[Service]
ExecStart=/opt/stratux/bin/ems-gpio  /opt/stratux/www/settings/ems-gpio.json
User=pi
KillMode=process
Restart=always
RestartSec=5
StandardOutput=null

[Install]
WantedBy=multi-user.target

