[Unit]
Description=EMS
After=network.target bluetooth.target

[Service]
ExecStart=/opt/stratux/bin/ems-chtegt /opt/stratux/www/settings/ems-chtegt.json
User=pi
KillMode=process
Restart=always
RestartSec=5
Nice=-10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

